*{
    box-sizing: border-box;
}
.body-back{
    background: url(https://media.giphy.com/media/Mg5xZX6YPvLLG/giphy.gif);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.container{
    text-align: center;
    margin: 20px;
    
}
.emoji-container{
    background:url(https://www.smileysapp.com/gif-emoji/listening-music.gif);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center center;
    left: 80px;
    position: relative;
}
.score-history::-webkit-scrollbar {
    display: none;
  }
.score-history{
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    margin-top:30px;
    border-radius:20px;
    padding: 10px;
    overflow: scroll;
    height: 250px;
}
#modal
{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    display: block;
}
.header{
    color: white;
    font-size: 30px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left,blue,rgb(178, 4, 194));
    box-shadow: 10px 10px 10px black;
    border: none;
}
#displaytimer{
    color: white;
}
.quotes-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
.quotes-container{
    height: 50px;
    border: none;
    color: white;
    font-weight: bolder;
}
#quoteswrite{
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    height: 150px;
    color: black;
    margin-top: 40px;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
    text-decoration: underline;
}
#img{
    width: 200px;
    height: 200px;
}
.toy{
    display: flex;
    justify-content: center;
    align-items: center;
}
